{% extends 'base.html' %}

{% load autocomplete %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ form.team_lead.label_tag }}
                <div class="team_lead-field-container">
                    {{ form.team_lead }}
                </div>
            </div>
            <div>
                {{ form.members.label_tag }}
                <div class="members-field-container">
                    {{ form.members }}
                </div>
            </div>

            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <div id="team_lead_change_events"></div>
    <div id="members_change_events"></div>
    <script>
        document.body.addEventListener("change", function(event){
            if(event.target.getAttribute("id") === "team_lead__textinput"){
                const container = document.getElementById("team_lead_change_events");
                const newEvent = document.createElement("div");
                newEvent.innerText = `Team lead changed`;
                container.appendChild(newEvent);
            } else if(event.target.getAttribute("id") === "members__textinput"){
                const container = document.getElementById("members_change_events");
                const newEvent = document.createElement("div");
                newEvent.innerText = `Members changed`;
                container.appendChild(newEvent);
            }
        });
    </script>
{% endblock %}