{% extends 'base.html' %}
{% load autocomplete %}
{% block content %}
    <div class="container">
      <h1>Autocomplete HTMX Test cases</h1>
    </div>
      <div class="container">
        <h2>Using form widgets</h2>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model, single select</div>
              <div class="container">
                <form method="POST">
                  {% csrf_token %}
                <table>
                {{ single_form_model.as_table }}
                </table>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items, single select</div>
              <div class="container">
                <table>
                  {{ single_form_get_item.as_table }}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model, multiselect</div>
              <div class="container">
                <form method="POST">
                  {% csrf_token %}
                <table>
                  {{ multi_form_model.as_table }}
                </table>
                <button type="submit">go</button>
              </form>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items, multiselect</div>
              <div class="container">
                <table>
                  {{ multi_form_get_item.as_table }}
                </table>
              </div>
            </div>
          </div>
        </div>
        <h2>Using template tags</h2>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model</div>
              <div class="container">
                {% autocomplete "model" %}
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items</div>
              <div class="container">
                {% autocomplete "getitems" %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model, multiselect</div>
              <div class="container">
                {% autocomplete "model_multi" %}
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items, multiselect</div>
              <div class="container">
                {% autocomplete "getitems_multi" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
