{% load autocomplete %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
      .row {
        padding: 10px;
      }
      .card .container {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Autocomplete HTMX Test cases</h1>
    </div>
      <div class="container">
        <h2>Using form widgets</h2>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model, single select</div>
              <div class="container">
                <form method="POST">
                  {% csrf_token %}
                <table>
                {{ single_form_model.as_table }}
                </table>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items, single select</div>
              <div class="container">
                <table>
                  {{ single_form_get_item.as_table }}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model, multiselect</div>
              <div class="container">
                <form method="POST">
                  {% csrf_token %}
                <table>
                  {{ multi_form_model.as_table }}
                </table>
                <button type="submit">go</button>
              </form>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items, multiselect</div>
              <div class="container">
                <table>
                  {{ multi_form_get_item.as_table }}
                </table>
              </div>
            </div>
          </div>
        </div>
        <h2>Using template tags</h2>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model</div>
              <div class="container">
                {% autocomplete "model" %}
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items</div>
              <div class="container">
                {% autocomplete "getitems" %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using model, multiselect</div>
              <div class="container">
                {% autocomplete "model_multi" %}
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">Using get_items, multiselect</div>
              <div class="container">
                {% autocomplete "getitems_multi" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.3"
    integrity="sha384-e2no7T1BxIs3ngCTptBu4TjvRWF4bBjFW0pt7TpxOEkRJuvrjRt29znnYuoLTz9S"
    crossorigin="anonymous"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
      </script>
  </body>
</html>
