name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-django: [  ["3.11", "5.1"], ["3.11", "5.2"], ["3.13", "6.0"] ]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-django[0] }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-django[0] }}
    - name: Configure locales
      run: |
        sudo locale-gen en_CA.UTF-8 fr_CA.UTF-8
    - name: Install dependencies
      run: |
        python -m pip install -U pip setuptools wheel
        python -m pip install -r requirements.txt "Django==${{ matrix.python-django[1] }}"
        python -m pip install .
    - name: Test
      run: |
        pytest

  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    
    steps:
    - uses: actions/checkout@v3
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install -r requirements_formatting.txt
    - name: Check formatting
      run: |
        black . --check --config pyproject.toml
    - name: Check imports sorted
      run: |
        isort . --check --settings-path pyproject.toml

